name: Production Test Action
on: push
jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Docs Builder
        uses: ./
        with:
          docsPath: /docs