name: Validate Action
on: push
jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Docs Builder
        uses: ./
        with:
          docsPath: ./docs